<!DOCTYPE html>
<html >
    <head lang="en">
        <title>Our TypescriptApp </title>
        <link rel="stylesheet" href="users-api.component.css" text="type/css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script> var exports = {}; </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">,

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body class="api">
        
       <header class="head">
           <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" style="background-color: aquamarine;">Users API</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <form class="d-flex">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                
                <div class="navbar-nav " >
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                  <a class="nav-link active" href="#">Gallery</a>
                  <a class="nav-link active" href="#">About</a>
                  <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Contact</a>
                </div>
            
              </div>
            </form>
            </div>
          </nav>
       </header>
       
       <div class="container">
            <h1 style="text-align:center">Hello Reqres Users</h1>
       </div>
       <br>
        <div class="row ">
            <div class="col-md-4  " *ngFor="let image of data" style="text-align:center">

                <div class="card-text-center card text-dark bg-info mb-3 " id="parent" style="max-width: 18rem;">
                   
                        <div class="card-header">
                            <h3>
                            {{ image.first_name }}
                            </h3>
                        </div>
                        <div class="card-body" >
                            <img  width="200" alt="avatar" [src]="image.avatar" > 
                            <!-- (click)="Data()" -->
                        </div>
                    
                        <div class="card-footer" id="hover-content" >
                            <li>
                                {{ image.last_name }}
                            </li>
                            <li>
                                {{ image.email }}
                            </li>
                        </div>                         
                    
                       
                    
            </div>
        </div> 
       
        </div>
    </body>
</html>