<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade">

    </div>
    
    <mat-card class="example-card">
        <form [formGroup]="dataForm" (ngSubmit)="onFormSubmit(dataForm.value)" >

            <mat-form-field>
                
                <input matInput type="text" placeholder="Enter id" formControlName="id">
                <!-- [error matchers] -->
                <mat-error>
                    <span *ngIf="!dataForm.get('id')?.valid && dataForm.get('id')?.touched">Id Required</span>
                </mat-error>
            </mat-form-field><br>

            <mat-form-field>
                
                <input matInput type="text" placeholder="Enter Book Name" formControlName="name">
                <!-- [error matchers] -->
                <mat-error>
                    <span *ngIf="!dataForm.get('name')?.valid && dataForm.get('name')?.touched">Book Name Required</span>
                </mat-error>
            </mat-form-field><br>

            <mat-form-field>
                
                <input matInput type="text" placeholder="Enter Author Name" formControlName="author">
                <!-- [error matchers] -->
                <mat-error>
                    <span *ngIf="!dataForm.get('author')?.valid && dataForm.get('author')?.touched">Author Name Required</span>
                </mat-error>
            </mat-form-field><br>

            <mat-form-field>
                
                <input matInput type="text" placeholder="Enter Description of book " formControlName="author">
                <!-- [error matchers] -->
                <mat-error>
                    <span *ngIf="!dataForm.get('author')?.valid && dataForm.get('author')?.touched">Author Name Required</span>
                </mat-error>
            </mat-form-field><br>

            <mat-form-field>
                
                <input matInput type="text" placeholder="Enter no.of books" formControlName="count">
                <!-- [error matchers] -->
                <mat-error>
                    <span *ngIf="!dataForm.get('count')?.valid && dataForm.get('count')?.touched">No.of Books Required</span>
                </mat-error>
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <mat-label>Available </mat-label>
                <mat-select formControlName="available">
                  <mat-option [value]="true">Yes</mat-option>
                  <mat-option [value]="false">No</mat-option>
                </mat-select>
                <mat-error>
                    <span *ngIf="!dataForm.get('available')?.valid && dataForm.get('available')?.touched">Value Required</span>
                </mat-error>
              </mat-form-field>

            <div>
                <button type="submit" class="btn btn-primary">Add</button>&nbsp;
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancel()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
            
        </form>
    </mat-card>

</div>

