<app-nav-bar></app-nav-bar>
<table mat-table [dataSource]="data" class="mat-elevation-z4">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Id Column -->
    <ng-container matColumnDef= "id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef= "from">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let element"> {{element.from}} </td>
    </ng-container>

    <ng-container matColumnDef= "to">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let element"> {{element.to}} </td>
    </ng-container>

    <ng-container matColumnDef= "dateCreated">
      <th mat-header-cell *matHeaderCellDef> Date Created </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreated | date:'longDate'}} </td>
    </ng-container>

    <ng-container matColumnDef= "permanentLink">
      <th mat-header-cell *matHeaderCellDef> Permanent Link </th>
      <td mat-cell *matCellDef="let element"> {{element.permanentLink ? 'Yes' : 'No'}}  </td>
    </ng-container>
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
  </table>

  <a mat-raised-button color="primary" (click)="onAdd()"><mat-icon>add</mat-icon></a>
  
  <span class="example-spacer"></span>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]" >
  </mat-paginator>

  


